<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.about")}}</h4>
        <div class="ui inverted link list">
          <a class="item" target="_blank"  href="https://segmentfault.com/u/dockerclub">{{Tr(Lang, "footer.user_forum")}}</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.project")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="/docs">{{Tr(Lang, "footer.documentation")}}</a>
          <a class="item" href="https://github.com/dockerclubgroup/shipyard/issues">{{Tr(Lang, "footer.submit_issue")}}</a>
          <a class="item" href="https://github.com/dockerclubgroup/shipyard/blob/master/LICENSE">MIT License</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.find_us")}}</h4>
        <div class="ui inverted link list">
          <a class="item" target="_blank" href="https://github.com/dockerclubgroup/shipyard">GitHub</a>
          <a class="item" target="_blank" href="https://twitter.com/dockerclub">Twitter</a>
          <a class="item" target="_blank" href="http://weibo.com/dockerclub">新浪微博</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.friends")}}</h4>
        <div class="ui inverted link list">

          <a target="_blank" href="http://www.qiniu.com/"><img src="/img/sponsors/qiniu.png" width="100%"></a>
        </div>
      </div>
      <div class="four wide column">

        <a target="_blank" href="https://peachdocs.org/"><img src="/img/sponsors/peach.ico" width="50%"></a>
      </div>
      <div class="row">
        <div class="sixteen wide column">
        </div>
      </div>
      <div class="row">
        <div class="center column">
          {{Tr(Lang, "copyright") | safe}}
          | <span><a href="http://www.miibeian.gov.cn/" target="_blank">湘ICP备15015461号-2</a></span>
        </div>


      </div>
    </div>
  </div>
</div>
{{Extension.GABlock | safe}}